<div class="app">
  <app-header></app-header>

  <div id="playTheGame">
    <div *ngIf="projectContent">
      <h2>
        Our problem is set in the planet of Lengaburu…in the distant distant
        galaxy of Tara B. After the recent war with neighbouring planet
        Falicornia, King Shan has exiled the Queen of Falicornia for 15 years.
        Queen Al Falcone is now in hiding. But if King Shan can find her before
        the years are up, she will be exiled for another 15 years…. King Shan
        has received intelligence that Al Falcone is in hiding in one of these 6
        planets - DonLon, Enchai, Jebing, Sapir, Lerbin & Pingasor. However he
        has limited resources at his disposal & can send his army to only 4 of
        these planets.
      </h2>
      <h3>Available Vehicles:</h3>
      <h4>
        1: Space Pod
        <h5>Units: 2</h5>
        <h5>Max_Distance: 200 Megamiles</h5>
        <h5>Speed: 2 megamiles/hour</h5>
      </h4>
      <h4>
        2: Space Rocket
        <h5>Units: 1</h5>
        <h5>Max_Distance: 300 Megamiles</h5>
        <h5>Speed: 4 megamiles/hour</h5>
      </h4>
      <h4>
        3: Space Shuttle
        <h5>Units: 1</h5>
        <h5>Max_Distance: 400 Megamiles</h5>
        <h5>Speed: 5 megamiles/hour</h5>
      </h4>
      <h4>
        4: Space Ship
        <h5>Units: 2</h5>
        <h5>Max_Distance: 600 Megamiles</h5>
        <h5>Speed: 10 megamiles/hour</h5>
      </h4>
      <button mat-raised-button color="primary" (click)="letsPlayTheGame()">
        Let's Play the Game
      </button>
    </div>
    <div *ngIf="gameContent" class="routing">
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-footer></app-footer>
</div>
